body {
	border-width: 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

.buttonOuter {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.buttonInner {
	background-color: white;
	border-bottom-color: rgb(112, 112, 112);
	border-left-color: rgb(208, 208, 208);
	border-right-color: rgb(112, 112, 112);
	border-style: solid;
	border-top-color: rgb(208, 208, 208);
	border-width: 1px;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	-webkit-user-select: none;
}

.waypointInfoWindowContent table {
	font-family: verdana, sans-serif;
	font-size: 7pt;
}

.waypointInfoWindowContent th {
	text-align: right;
}

.waypointRichMarkerContent {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	color: black;
	cursor: pointer;
	font-family: verdana, sans-serif;
	font-size: 7pt;
	margin: 0px;
	padding: 0px 2px;
}

.taskBoardContent {
	background-color: #e3e3fc;
	border: 1px solid #e3e3fc;
	border-radius: 6px;
	width: 346px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.tsk-top {
	padding: 10px;
	background-color: transparent;
}

.tsk-bottom {
	padding: 5px 10px;
	background-color: transparent;
}

.tsk-1 {
	padding: 5px 10px 5px 10px;
	background-color: #fff;
}

.tsk-2 {
	padding: 5px 10px 5px 10px;
	background-color: #f5f5ff;
}

.tsk-tb1 {
	font-size: 80%;
	width: 100%;
}

.tb-details {
	font-size: 75%;
	width: 100%;
	margin: 5px 0 10px 0;
}

.tb-points {
	font-size: 75%;
	width: 100%;
	margin: 5px 0 10px 0;
}

.compName {
	font-weight: bold;
	font-size: 90%;
	vertical-align: top;
}

.taskId {
	font-weight: bold;
	font-style: italic;
	font-size: 75%;
	vertical-align: top;
	text-align: right;
}

.tbl-name {
	color: #0b3b0b;
}

.tbl-val-r {
	text-align: right;
}

.tb-points-odd {
	background-color: #fff;
}

.tb-points-even {
	background-color: #fefdec;
}

table.infoTable {
	font-size: 11px;
	font-weight: normal;
	color: black;
	background-color: #fafafa;
	width: 220px;
	border-collapse: collapse;
	border-spacing: 2px;
	margin-top: 12px;
}

table.infoTable th {
	background-color: #e5ecf9;
	border-bottom: 5px solid #fff;
	font-weight: normal;
}

table.infoTable th.tblTitle {
	text-align: left;
}

table.infoTable th.tblCaption {
	text-align: right;
	padding-right: 5px;
}

table.infoTable td {
	border-bottom: 1px solid #fff;
}

table.infoTable td.tblLabel {
	color: #666;
	padding-left: 3px;
}
