.infoWindow table {
	font-family: verdana, sans-serif;
	font-size: 7pt;
}

.infoWindow th {
	text-align: right;
}

.richMarker {
	border-style: none;
	color: black;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-size: 7pt;
	padding: 0px;
}
