<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
$(document).ready(function(){
		$.getJSON("wpt2json.json?url={{ url }}", function(geojson) {
			var map = new google.maps.Map($('#map').get(0), {
				disableDoubleClickZoom: true,
				mapTypeId: google.maps.MapTypeId.TERRAIN
			});
			map.fitBounds(new google.maps.LatLngBounds(
				new google.maps.LatLng(geojson.bbox[1], geojson.bbox[0]),
				new google.maps.LatLng(geojson.bbox[4], geojson.bbox[3])
			));
			$.each(geojson.features, function(i, feature) {
				var position = new google.maps.LatLng(
					feature.geometry.coordinates[1],
					feature.geometry.coordinates[0]
				);
				var marker = new google.maps.Marker({
					map: map,
					position: position
				});
				var content = $('#infoWindow').clone().attr({id: null}).show();
				$('#id', content).html(feature.properties.id);
				$('#lat', content).html(feature.geometry.coordinates[1]);
				$('#lng', content).html(feature.geometry.coordinates[0]);
				if (feature.geometry.coordinates.length > 2) {
					$('#elevation', content).html(feature.geometry.coordinates[2]);
				}
				if (feature.properties.hasOwnProperty('color')) {
					$('#color', content).html(feature.properties.color);
				}
				if (feature.properties.hasOwnProperty('description')) {
					$('#description', content).html(feature.properties.description);
				}
				if (feature.properties.hasOwnProperty('radius')) {
					$('#radius', content).html(feature.properties.radius);
				}
				var infoWindow = new google.maps.InfoWindow({content: content.get(0)});
				google.maps.event.addListener(marker, 'click', function () {
					infoWindow.open(map, marker);
				});
			});
		});
});
		</script>
		<title>Waypoint Viewer</title>
	</head>
	<body>
		<div id="map" style="width: 100%; height: 100%">Loading...</div>
		<div id="infoWindow" style="display: none">
			<table>
				<tr>
					<th>ID:</th>
					<td><span id="id"></span></td>
				</tr>
				<tr>
					<th>Description:</th>
					<td><span id="description"></span></td>
				</tr>
				<tr>
					<th>Latitude:</th>
					<td><span id="lat"></span>&deg;</td>
				</tr>
				<tr>
					<th>Longitude:</th>
					<td><span id="lng"></span>&deg;</td>
				</tr>
				<tr>
					<th>Elevation:</th>
					<td><span id="elevation"></span>m</td>
				</tr>
				<tr>
					<th>Radius:</th>
					<td><span id="radius"></span>m</td>
				</tr>
				<tr>
					<th>Color:</th>
					<td><span id="color"></span>m</td>
				</tr>
			</table>
		</div>
	</body>
</html>
